// 绝对定位居中
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 行-等间隔
.flexr-csa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// 行-居中
.flexr-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 字体大小
.fs40 {
  font-size: 40px;
}
